doctype 5
html(ng-app='phonecat')
    head
        title Google Phone Gallery
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='//lib.sinaapp.com/js/bootstrap/latest/css/bootstrap.min.css')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js')
        script(src='/js/app.js')
        script(src='/js/services.js')
        script(src='/js/controllers.js')
        script(src='/js/filters.js')
    body
        block content